<html>
<body>
	<h1>Welcome!</h1>
	<p>Clickbait is fun right? It's at least amusing to do, but it can have some not great consequences. Here I provide a guilt-free clickbait experence and in return you get some fun pictures. Click the links below to take you to a quick quiz to see what fits you best!</p></b>
	<p><a href="http://localhost:5000/first-question">Can We Guess Your Favorite Dog?</a></p>
	<p><a href="http://localhost:5000/second-question">You'll NEVER Guess What These Words Mean!</a></p>
</body>
</html